
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- scripts -->
  <script type="text/javascript" src="/js/scripts.js"></script>

  </body>
</html>
